{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/user/registerstyles.min.css' %}">
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
    <div class="d-flex flex-column justify-content-center" id="login-box">
        <div class="d-xl-flex justify-content-xl-center login-box-header" style="width: 100%;">
            <div class="row">
                <div class="col-xl-12" style="width: 100%;">
                    <h4 style="color: rgb(139,139,139);margin-bottom: 0px;font-weight: 400;font-size: 27px;">Registrar-se</h4>
                </div>
            </div>
        </div>
        <div class="email-login" style="background-color:#ffffff;">
            <input type="text" name="username" class="email-imput form-control" style="margin-top:10px;" required placeholder="Username" minlength="3" />
            <input type="email" name="email" class="email-imput form-control" style="margin-top:10px;" required="" placeholder="Email" minlength="6">
            <input type="password" name="password1" class="password-input form-control" style="margin-top:10px;" required="" placeholder="Password" minlength="6">
                <input type="password" name="password2" class="password-input form-control" style="margin-top:10px;" required="" minlength="6" placeholder="Repeat Password">
                </div>
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center submit-row"
            style="margin-bottom:8px;padding-top:0px;">
            <button class="btn btn-primary btn-block box-shadow" id="submit-id-submit" type="submit" style="width: 50%;margin-top: 10px;">Registrar</button>
        </div>
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center submit-row" style="margin-bottom:8px;padding-top:0px;">
            <a  href="{% url 'login' %}"class="btn btn-primary btn-block box-shadow"  type="button" style="width: 50%;background-color: rgb(108,111,110);">Sair</a>

        </div>
    </div>

    </form>
    <!-- End: Login Box [En] -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>